ursina

# git config --global user.email "adrien.tirlemont@avisto.com"
# git config --global user.name "Adrien Tirlemont"

# git config --global user.email "ssquerel@gmail.com"
# git config --global user.name "meatisdelicious"