ursina


# Stuff i'm good at : 
# lists, arrays, stacks a tiny bit

# Shit i'm not good at all at : 
# threes, binary threes
# linked lists
# nodes
# binary bits... 0,1..
# stacks




# git config --global user.email "adrien.tirlemont@avisto.com"
# git config --global user.name "Adrien Tirlemont"

# git config --global user.email "ssquerel@gmail.com"
# git config --global user.name "meatisdelicious"